
/* 
    Created on : 11-Feb-2018, 17:06:13
    Author     : Chris Vaughan
*/

body {
    color: #121212;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    font-size:14px;
}
table {
    border-collapse: collapse;
}
td,  th {
    border: 3px solid #AAAAAA;
    padding: 4px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.error{
    color:red;
}